__pycache__/
*.py[cod]
.pytest_cache/
.venv/
.cache/
.paddleocr/
.paddlex/
paddle_model/
paddle_models/
outputs/
uploads/
tmp/
temp/
*.tmp
*.env
.env
app/static/previews/
app/static/uploads/
*.log
.idea/
.vscode/
